    :root {
    --text-color: #000000;
    --card-front-color: #000000;
    --card-back-color: #00F4BF;
}

body { 
    background: url('img/fundo.png');
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
    gap: 2rem;}

.cartao {
    margin: 1rem 1rem;
    height: auto;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    
}

.cartao__conteudo {
    background: url(img/wp8643250-minecraft-blocks-wallpapers.jpg);
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.cartao__conteudo p {
    margin-top: 3rem;
    padding: 0.5rem; 
    font-family: 'Minecraftia' ;
    font-size: 1.7vw;
}
.cartao__conteudo__pergunta {
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-family: 'Minecraftia' ;
    font-size: 1.9vw;
    margin: 0.6rem;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
}
.cartao__conteudo__resposta p {
    background-color: rgb(34, 18, 34);
    color: rgb(255, 90, 255);
    text-align: center;
    padding: 0.5rem;
    margin: 0.6rem;
    border: 5px solid rgb(46, 8, 105);
    position: absolute;

}

.cartao__conteudo h3 {
    background-color: rgb(160, 160, 160);
    font-family: 'Minecraft', sans-serif;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    font-size: 2.5vw;
    color: var(--text-color);
    margin: 0.6rem;
    border: 2px solid rgb(98, 100, 95);
    backface-visibility: hidden;
}

.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}
footer {
    font-family: Bai Jamjuree;
    background-color: black;
    color: rgb(214, 214, 214);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
